.footer
{
    background-color: $gray-700;
    padding-top:  map-get($spacers, 5); // pt-5
    padding-bottom: map-get($spacers, 5); // pb-5
    color: $gray-200;
    box-shadow: 0 15px 60px $gray-800 inset;

    a
    {
        color: $gray-500;
        text-decoration: none;
        border-bottom: 1px dotted $gray-600;
    }

    a:hover, a:focus{
        color: $gray-200;
    }

}
